.header__menu-item{
    margin: 0 37px 0 0;
    padding:0;
    font-size: 14px;
    font-weight: bold;
    font-stretch: expanded;
    font-family: 'Roboto', sans-serif;

}

.header__menu-item:last-child{
    /* не могу придумать как его прибить справа без абсолюта, а не так*/
    margin: 0 0 0 817px; 
    padding: 0;
}