.header__menu-item {
  margin: 0 0 0 38px;
  padding: 10px 0;
}

.header__menu-item:first-of-type {
  margin-left: 0;
}

@media (max-width: 555px) {
  .header__menu-item {
    margin: 20px 0 0 0;
  }
}
