.destination__text-block {
  margin: 0;
  padding: 70px 0 93px 75px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.destination:nth-of-type(3) .destination__text-block {
  padding-bottom: 70px;
}



@media screen and (max-width: 767px) {
  .destination__text-block {
    width: 100%;
    padding: 20px 10px;
  }

  .destination:nth-of-type(3) .destination__text-block {
    padding: 20px 10px;
  }
}
