.destination {
  max-width: 1377px;
  margin: 0 auto;
  display: flex;
}

.destination:nth-of-type(2n) {
  flex-direction: row-reverse;
}



@media screen and (max-width: 767px) {
  .destination {
    display: flex;
    flex-direction: column;
  }
}
