.intro{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1377px;
  min-height: 560px;
}


@media screen and (max-width: 767px) {
  .intro{
    display: flex;
    flex-direction: column;
  }
