.people__title {
  padding:0;
  margin: 0 0 35px 0;
  color: #FED5B7;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -1px;
  font-stretch: extra-condensed;
  line-height: 1;
  font-weight: bold;
}
