.people__title {
    padding: 0;
    margin: 165px 0 25px 0;
    color: #FFD7B2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto bold';
    letter-spacing: 0.1px;
}