.airport__right {
    width: 50%;
    max-height: 690px;
    background-image: url(../../images/airport-schedule.jpg);
    background-size: cover;

}

@media screen and (max-width: 767px) {
  .airport__right{
    width: 100%;
    min-height: 400px;
  }
}
