.airport__form-button{
    margin: 25px 0 0 165px;
    width: 220px;
    height: 35px;
    font-size: 14px;
    border: 0;
    padding-bottom: 5px;
    cursor: pointer;
    transition: opacity .4s;
    color: rgb(255, 255, 255);
    font-family: 'Roboto regular';
}

.airport__form-button[type=submit]{
    background-color: #000;
  }


  @media screen and (max-width: 1279px) {
    .airport__form-button{
      margin: 25px 0 0 130px;
      width: 220px;
    }
  }

  @media screen and (max-width: 1023px) {
    .airport__form-button{
      margin: 25px 0 0 80px;
      width: 220px;
    }
  }

  @media screen and (max-width: 767px) {
    .airport__form-button{
      margin: : 25px 0 50px 30px;
      width: 220px;

    }
  }
