.airport__right{
    width: 50%;
    height: 690px;
    background-image: url(../../images/airport-schedule.jpg);

}

@media screen and (max-width: 767px) {
  .airport__right{
    width: 100%;
    height: 350px;
    width: 350px;
    background-position: cover;

}
}
