.airport__form-text{
    height: 33px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bcbcc4;
    background-color: white;
    margin: 0;
    padding: 0 10px 0 15px;
    font-size: 16px;
    font-family: "Roboto";
    border: none;
}
